body {
	overflow:hidden;
	background-color:gray;
	padding:20px;
}
.message {
	height:720PX;
	width:1280PX;
	text-align:center;
	border:0px solid silver;
	display: table-cell;
	vertical-align:middle;
	color:#FFFFFF;
	background-color:#f000ff;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:40px;
}
#connectedDevices {
	position:absolute;
	top:50;
	right:50;
	background-color:orange;
	width:500px;
}

.card {
	position:relative;
	background-color:white;
	padding:40px;
	height:200px;
	width:100px;
	color:black;
	border:5px solid black;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	border-radius:10px;
	box-shadow: 5px 5px 5px #000000;

}

#cardContainer {
	width:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.numConnections {
	position:absolute;
	right:20px;
	bottom:20px;
}