body {
	overflow:hidden;
	background-color:gray;
	padding:20px;
	background-image:url('img/wood.jpg');
}
.message {
	height:720PX;
	width:1280PX;
	text-align:center;
	border:0px solid silver;
	display: table-cell;
	vertical-align:middle;
	color:#FFFFFF;
	background-color:#f000ff;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:40px;
}
#connectedDevices {
	position:absolute;
	top:50;
	right:50;
	background-color:orange;
	width:500px;
}

.card {
	position:relative;
	background-color:white;
	padding:10px;
	height:200px;
	width:125px;
	color:black;
	border:5px solid white;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	border-radius:10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.75);
	-webkit-transform:rotate(7deg);
}

.card img {
	position:absolute;
	bottom:10;
	left:10;
	width:100px;
}

#cardContainer {
	width:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.numConnections {
	position:absolute;
	right:50px;
	bottom:50px;
}

.toast {
	postiion:absolute;
	bottom:100px;
	left:100px;
}