body {
	overflow:hidden;
}
#message {
	height:720PX;
	width:1280PX;
	text-align:center;
	border:0px solid silver;
	display: table-cell;
	vertical-align:middle;
	color:#FFFFFF;
	background-color:#f000ff;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:40px;
}
#connectedDevices {
	position:absolute;
	bottom:0;
	right:0;
	background-color:orange;
	width:500px;
}